# Salary Prediction using Linear Regression

In [1]:
import pandas as pd 
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("Salary Data.csv", sep=',')
df.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

# EDA

# Linear Regression

# Cost & Lose